/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google map */
#map{
width:90%;
height:400px;
}

/* custom styles */
.btn{
    width: 100px;
    height: 50px;
    background-color: #64B5F6 !important;
    color: black;
}

#button-container{
    width: 100%;
    height: 50px;
}

#prev-container{
    height: 100px;
}

.container-hide {
    display: none
}

.border {
    border: 10px;
    border-style: solid;
    border-radius: 10px;
}

#holdingText p {
     font-size: 3vw;
}

.ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
}
@-webkit-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 36px;
    }
}
@-moz-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 36px;
    }
}

nav h2 {
    font-size:calc(3px + 2vw)
}

@media (max-width: 436px) {
    nav h2 {
        font-size: 13px;
        white-space: nowrap;
    }
}

@media (max-width: 350px) {
    nav h2 {
        font-size: 10px;

    }
}