/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Google map */
#map{
width:90%;
height:400px;
}

.btn{
    width: 100px;
    height: 50px;
    /* margin: 15px auto; */
    background-color: #64B5F6;
}

#button-container{
    width: 100%;
    height: 100px;
    /* margin: 15px auto; */
}

#prev-container{
    height: 100px;
    /* margin: 15px auto; */
}

#main-row{
    padding-bottom: 50px;
}

.container-hide {
    display: none
}

.border {
    border: 10px;
    border-style: solid;
    border-radius: 10px;
}

#holdingText p {
     font-size: 3vw;
}

.ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
}
@-webkit-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 36px;
    }
}
@-moz-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 36px;
    }
}