/*Reset*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Global*/


/* Mapbox map */
#map{
width:90%;
height:400px;
}

#search-button{
    width: 200px;
    height: 100px;
    margin: 15px auto;
}

.container-hide {
    display: none
}

.border {
    border: 10px;
    border-style: solid;
}

.ellipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
}
@-webkit-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 12px;
    }
}
@-moz-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 12px;
    }
}









/*Mobile first media queries*/
@media screen and (min-width: 480px) {
    
}


@media screen and (min-width: 768px) {
    
}